# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

In [2]:
import pandas as pd
import numpy as np
import math
import json
%matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [3]:
portfolio

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"[web, email, mobile, social]",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"[web, email, mobile, social]",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"[email, mobile, social]",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"[web, email, mobile, social]",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"[web, email, mobile]",10,7,discount,2906b810c7d4411798c6938adc9daaa5

In [4]:
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [5]:
transcript.head()

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

In [6]:
#clean profile data

print(profile.isnull().any())
print(profile.gender.unique())

values = {'gender': 'M', 'income': round(profile.income.mean())}

profile = profile.fillna(value=values)
profile.head()

gender               True
age                 False
id                  False
became_member_on    False
income               True
dtype: bool
[None 'F' 'M' 'O']

  gender  age                                id  became_member_on    income
0      M  118  68be06ca386d4c31939f3a4f0e3dd783          20170212   65405.0
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2      M  118  38fe809add3b4fcf9315a9694bb96ff5          20180712   65405.0
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4      M  118  a03223e636434f42ac4c3df47e8bac43          20170804   65405.0

## Outputs- 

1. BOGO
2. discount
3. info
4. nothing

In [7]:
# combine dataFrames of profile and transcript
tempDF = pd.merge(transcript, profile, left_on='person', right_on='id')

In [8]:
tempDF.head()

,person,event,value,time,gender,age,id,became_member_on,income
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0
1,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},6,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0
2,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 19.89},132,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0
3,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,132,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0
4,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 17.78},144,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0

In [43]:
# get the offer id or amount and add it as a new column

txn_type = []

for val in tempDF.value:
    
    txn_type.append(list(val.values())[0])

txn_type

['9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 19.89,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 17.78,
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 19.67,
 29.72,
 23.93,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 21.72,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 26.56,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 1.09,
 3.5,
 '3f207df678b143eea3cee63160fa8bed',
 '3f207df678b143eea3cee63160fa8bed',
 '5a8bc65990b245e5a138643cd4eb9837',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 0.06,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 17.88,
 21.43,
 '3f207df678b143eea3cee63160fa8bed',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 18.42,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '3f207df678b143eea3cee63160fa8bed',
 '3f207df678b143eea3cee63160fa8bed',
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 0.19,
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 0.05,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 9.54,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 15.63,
 '2906b810c7d4411798c6938adc9daaa5',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 11.26,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'fafdcd668e3743c1bb461111dcafc2a4',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 0.89,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 3.46,
 0.58,
 1.28,
 0.19,
 0.13,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 0.21,
 5.06,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 54.61,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 '3f207df678b143eea3cee63160fa8bed',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 2.32,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 5.29,
 7.14,
 'fafdcd668e3743c1bb461111dcafc2a4',
 0.87,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 12.33,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 15.95,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 23.3,
 10.08,
 11.33,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 12.56,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 24.87,
 'fafdcd668e3743c1bb461111dcafc2a4',
 16.26,
 15.8,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 12.57,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 15.01,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 23.18,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 22.87,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 29.69,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 0.12,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 1.5899999999999999,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 0.76,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 0.55,
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 0.98,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 0.31,
 0.56,
 1.44,
 1.07,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 0.21,
 2.69,
 1.72,
 0.36,
 2.5700000000000003,
 3.64,
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 0.21,
 2.25,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 32.31,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 28.12,
 21.75,
 27.1,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '3f207df678b143eea3cee63160fa8bed',
 '3f207df678b143eea3cee63160fa8bed',
 30.0,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 31.05,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 40.96,
 '3f207df678b143eea3cee63160fa8bed',
 '3f207df678b143eea3cee63160fa8bed',
 13.25,
 18.9,
 20.2,
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 25.27,
 '3f207df678b143eea3cee63160fa8bed',
 '3f207df678b143eea3cee63160fa8bed',
 22.99,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 13.32,
 'fafdcd668e3743c1bb461111dcafc2a4',
 22.55,
 18.98,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 339.69,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 9.97,
 10.57,
 21.26,
 9.81,
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 7.76,
 '5a8bc65990b245e5a138643cd4eb9837',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 16.23,
 12.93,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 28.29,
 'fafdcd668e3743c1bb461111dcafc2a4',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 12.94,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 16.02,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 18.22,
 'fafdcd668e3743c1bb461111dcafc2a4',
 '3f207df678b143eea3cee63160fa8bed',
 '3f207df678b143eea3cee63160fa8bed',
 15.93,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 19.91,
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 27.23,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '2906b810c7d4411798c6938adc9daaa5',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 28.48,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '2906b810c7d4411798c6938adc9daaa5',
 0.74,
 2.73,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 2.68,
 2.46,
 1.15,
 4.95,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 2.77,
 0.18,
 0.51,
 2.13,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 4.52,
 0.15,
 3.44,
 2.63,
 'fafdcd668e3743c1bb461111dcafc2a4',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 0.41000000000000003,
 0.46,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 0.67,
 'fafdcd668e3743c1bb461111dcafc2a4',
 2.24,
 'fafdcd668e3743c1bb461111dcafc2a4',
 9.32,
 'fafdcd668e3743c1bb461111dcafc2a4',
 5.42,
 2.58,
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 5.23,
 '2906b810c7d4411798c6938adc9daaa5',
 2.49,
 '2906b810c7d4411798c6938adc9daaa5',
 0.6900000000000001,
 11.5,
 '2906b810c7d4411798c6938adc9daaa5',
 0.73,
 0.72,
 8.17,
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 2.32,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 17.11,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 18.82,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 9.57,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 20.63,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 11.43,
 '3f207df678b143eea3cee63160fa8bed',
 '3f207df678b143eea3cee63160fa8bed',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 28.82,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '2906b810c7d4411798c6938adc9daaa5',
 12.03,
 '2906b810c7d4411798c6938adc9daaa5',
 28.37,
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 19.47,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 22.05,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 5.47,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 6.18,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 1.54,
 11.13,
 1.69,
 0.28,
 '5a8bc65990b245e5a138643cd4eb9837',
 2.25,
 0.56,
 '5a8bc65990b245e5a138643cd4eb9837',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 3.21,
 1.54,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 2.19,
 0.36,
 2.92,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 1.62,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 19.88,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 14.35,
 8.05,
 12.79,
 '3f207df678b143eea3cee63160fa8bed',
 '3f207df678b143eea3cee63160fa8bed',
 8.21,
 13.92,
 18.29,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 19.92,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 12.75,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 14.41,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 18.48,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 16.21,
 21.12,
 15.11,
 '2906b810c7d4411798c6938adc9daaa5',
 8.84,
 2.2,
 '2906b810c7d4411798c6938adc9daaa5',
 4.06,
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 1.22,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 0.22,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 5.28,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 1.96,
 2.26,
 0.7000000000000001,
 5.76,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 6.9,
 2.74,
 12.28,
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 5.33,
 0.79,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 0.91,
 1.9500000000000002,
 2.5300000000000002,
 6.03,
 'fafdcd668e3743c1bb461111dcafc2a4',
 5.17,
 0.37,
 1.71,
 4.49,
 2.05,
 1.94,
 4.98,
 2.5300000000000002,
 '2906b810c7d4411798c6938adc9daaa5',
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 1.5899999999999999,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 1.9500000000000002,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'fafdcd668e3743c1bb461111dcafc2a4',
 8.06,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'fafdcd668e3743c1bb461111dcafc2a4',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 0.4,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 3.8200000000000003,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 5.79,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 5.36,
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 115.0,
 '2906b810c7d4411798c6938adc9daaa5',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 5.75,
 3.81,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2906b810c7d4411798c6938adc9daaa5',
 5.76,
 3.6,
 4.28,
 '2906b810c7d4411798c6938adc9daaa5',
 2.36,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 0.8300000000000001,
 1.44,
 4.5600000000000005,
 1.53,
 0.5,
 9.8,
 4.1,
 2.73,
 1.22,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 3.18,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 6.01,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 7.2,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 3.33,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 9.3,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 18.56,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '3f207df678b143eea3cee63160fa8bed',
 '3f207df678b143eea3cee63160fa8bed',
 7.35,
 3.9,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 5.6,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 1.6,
 8.53,
 'fafdcd668e3743c1bb461111dcafc2a4',
 2.47,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 4.04,
 2.17,
 2.74,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 0.9400000000000001,
 3.02,
 0.05,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 0.05,
 1.51,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 2.27,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 3.8200000000000003,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 1.51,
 14.95,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 2.04,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '5a8bc65990b245e5a138643cd4eb9837',
 29.86,
 '5a8bc65990b245e5a138643cd4eb9837',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 38.82,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 39.79,
 '3f207df678b143eea3cee63160fa8bed',
 '3f207df678b143eea3cee63160fa8bed',
 26.75,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 19.36,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 27.71,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 23.32,
 'fafdcd668e3743c1bb461111dcafc2a4',
 23.8,
 19.99,
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 2.63,
 5.79,
 4.02,
 2.8200000000000003,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 2.1,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 7.16,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 5.43,
 0.51,
 3.43,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 2.59,
 3.42,
 5.63,
 4.75,
 '3f207df678b143eea3cee63160fa8bed',
 1.63,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 0.41000000000000003,
 1.85,
 1.15,
 3.27,
 1.6600000000000001,
 1.6600000000000001,
 '2906b810c7d4411798c6938adc9daaa5',
 1.6099999999999999,
 2.84,
 0.6900000000000001,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 3.54,
 '2906b810c7d4411798c6938adc9daaa5',
 2.21,
 0.47000000000000003,
 0.29,
 128.0,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 '2906b810c7d4411798c6938adc9daaa5',
 2.35,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 16.99,
 '5a8bc65990b245e5a138643cd4eb9837',
 '5a8bc65990b245e5a138643cd4eb9837',
 7.93,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 7.46,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 17.26,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 6.44,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 20.16,
 'fafdcd668e3743c1bb461111dcafc2a4',
 '2906b810c7d4411798c6938adc9daaa5',
 13.37,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 11.84,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 10.62,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 18.01,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 36.75,
 27.23,
 28.31,
 14.94,
 26.36,
 22.79,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 17.2,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 34.56,
 '2906b810c7d4411798c6938adc9daaa5',
 21.55,
 32.87,
 19.99,
 20.97,
 31.09,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 18.42,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 29.71,
 32.53,
 33.36,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 21.13,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 24.3,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 5.15,
 '3f207df678b143eea3cee63160fa8bed',
 '3f207df678b143eea3cee63160fa8bed',
 3.47,
 0.9,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 3.7,
 0.38,
 3.33,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 8.57,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 10.99,
 8.54,
 11.78,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 2.26,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 11.73,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 8.69,
 13.99,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 6.03,
 '5a8bc65990b245e5a138643cd4eb9837',
 7.62,
 9.66,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '5a8bc65990b245e5a138643cd4eb9837',
 4.93,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 37.66,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 32.96,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 26.08,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 21.42,
 13.92,
 28.95,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 26.33,
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 38.23,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 'f19421c1d4aa40978ebb69ca19b0e20d',
 8.7,
 'f19421c1d4aa40978ebb69ca19b0e20d',
 5.61,
 7.82,
 2.96,
 11.01,
 2.58,
 7.66,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 4.71,
 9.29,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 11.85,
 4.82,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 14.78,
 '2298d6c36e964ae4a3e7e9706d1fb8c2',
 7.54,
 'fafdcd668e3743c1bb461111dcafc2a4',
 10.14,
 'fafdcd668e3743c1bb461111dcafc2a4',
 12.44,
 9.0,
 'fafdcd668e3743c1bb461111dcafc2a4',
 6.42,
 12.9,
 '2906b810c7d4411798c6938adc9daaa5',
 '2906b810c7d4411798c6938adc9daaa5',
 12.4,
 '2906b810c7d4411798c6938adc9daaa5',
 12.27,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 5.0,
 17.61,
 'fafdcd668e3743c1bb461111dcafc2a4',
 22.29,
 13.4,
 17.64,
 7.71,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 'ae264e3637204a6fb9bb56bc8210ddfd',
 13.3,
 'ae264e3637204a6fb9bb56bc8210ddfd',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 '4d5c57ea9a6940dd891ad53e9dbe8da0',
 2.63,
 1.65,
 '0b1e1539f2cc45b7b9fa7c272da2e1d7',
 2.04,
 1.63,
 1.4100000000000001,
 2.62,
 '9b98b8c7a33c4b65b9aebfe6a799e6d9',
 1.97,
 4.69,
 1.21,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 1.05,
 4.28,
 3.24,
 'fafdcd668e3743c1bb461111dcafc2a4',
 0.99,
 0.85,
 'fafdcd668e3743c1bb461111dcafc2a4',
 'fafdcd668e3743c1bb461111dcafc2a4',
 4.88,
 4.37,
 'fafdcd668e3743c1bb461111dcafc2a4',
 4.33,

In [44]:
tempDF['txn_amt_offer'] = txn_type
tempDF.head()

,person,event,value,time,gender,age,id,became_member_on,income,txn_amt_offer
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,9b98b8c7a33c4b65b9aebfe6a799e6d9
1,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},6,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,9b98b8c7a33c4b65b9aebfe6a799e6d9
2,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 19.89},132,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,19.89
3,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,132,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 17.78},144,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,17.78

In [48]:
# combine dataFrames of tempDF and portfolio

combined_data = pd.merge(tempDF, portfolio, left_on='txn_amt_offer', right_on='id', how='left').fillna(0)

combined_data.head()

,person,event,value,time,gender,age,id_x,became_member_on,income,txn_amt_offer,reward,channels,difficulty,duration,offer_type,id_y
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,9b98b8c7a33c4b65b9aebfe6a799e6d9,5.0,"[web, email, mobile]",5.0,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
1,78afa995795e4d85b5d9ceeca43f5fef,offer viewed,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},6,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,9b98b8c7a33c4b65b9aebfe6a799e6d9,5.0,"[web, email, mobile]",5.0,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
2,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 19.89},132,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,19.89,0.0,0,0.0,0.0,0,0
3,78afa995795e4d85b5d9ceeca43f5fef,offer completed,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9...,132,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,9b98b8c7a33c4b65b9aebfe6a799e6d9,5.0,"[web, email, mobile]",5.0,7.0,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,78afa995795e4d85b5d9ceeca43f5fef,transaction,{'amount': 17.78},144,F,75,78afa995795e4d85b5d9ceeca43f5fef,20170509,100000.0,17.78,0.0,0,0.0,0.0,0,0

In [50]:
combined_data.event.unique()

array(['offer received', 'offer viewed', 'transaction', 'offer completed'],
      dtype=object)